@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

.label {
    -fx-font-family: 'Doppio One', sans-serif;
}

#background {
    -fx-background-color: #0b121e;
}

#searchTextField {
    -fx-background-color:  #282c3c;
    -fx-text-fill: white;
}

#searchButton {
    -fx-background-color:  #282c3c;
}

#searchButton:hover {
    -fx-background-color:  #323c52;
}

#refreshButton {
    -fx-background-color:  #282c3c;
    -fx-text-fill: white;
}

#refreshButton:hover {
    -fx-background-color:  #323c52;
}

#myLocalizationButton {
    -fx-background-color:  #282c3c;
    -fx-text-fill: white;
}

#myLocalizationButton:hover {
    -fx-background-color:  #323c52;
}

#chartPane  {
    -fx-background-color: #282c3c;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
}

#flagPane  {
    -fx-background-color: #282c3c;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
}

#buttonsPane  {
    -fx-background-color: #282c3c;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
}

#InfoPane  {
    -fx-background-color: #282c3c;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
}

#dayOneButton  {
    -fx-background-color: Transparent;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-border-color: #323c52;
}

#dayOneButton:hover {
    -fx-background-color:  #323c52;
}

#dayTwoButton  {
    -fx-background-color: Transparent;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-border-color: #323c52;
}

#dayTwoButton:hover {
    -fx-background-color:  #323c52;
}

#dayThreeButton  {
    -fx-background-color: Transparent;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-border-color: #323c52;
}

#dayThreeButton:hover {
    -fx-background-color:  #323c52;
}

#dayFourButton  {
    -fx-background-color: Transparent;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-border-color: #323c52;
}

#dayFourButton:hover {
    -fx-background-color:  #323c52;
}

#dayFiveButton  {
    -fx-background-color: Transparent;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-border-color: #323c52;
}

#dayFiveButton:hover {
    -fx-background-color:  #323c52;
}

#daySixButton  {
    -fx-background-color: Transparent;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-border-color: #323c52;
}

#daySixButton:hover {
    -fx-background-color:  #323c52;
}

#daySevenButton  {
    -fx-background-color: Transparent;
    -fx-background-radius: 12 12 12 12;
    -fx-border-radius: 12 12 12 12;
    -fx-border-color: #323c52;
}

#daySevenButton:hover {
    -fx-background-color:  #323c52;
}

.label {
    -fx-text-fill: white;
}

.chart {
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: Transparent;
}

.chart-series-line {
    -fx-stroke: #d3ebf0;
}

.chart-line-symbol {
    -fx-background-color: Transparent;
}
.chart-line-symbol:hover {
    -fx-background-color: #202a2e;
    -fx-border-radius: 50%;
    -fx-border-color: #dff3fa;
    -fx-border-width: 2px;
}

.chart-legend {
    -fx-text-fill: white;
}

.axis {
    -fx-tick-label-fill: #FFFFFF;
}
